/*   Styles for SF: V5: Verifiable C     */

/*   Background   */
body { 	background-image: url('../media/image/vc_bg.jpg');   }
#header { background-color: rgb(89, 48, 53);
}
/*   This volume's color   */
.section, ul#menu li.section_name, div.button  { background-color: rgb(89,48,53); }

